

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/deli-very.css">
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
  </head>
  <body>
    <div class="view-box">
      <div id="dots" v-on:click="addOrder">
        <div 
          v-for="(order, key) in orders"
          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
          {{key}}
        </div>
      </div>
    </div>

    <section class="customerInformation">
      <div id="send_order">
        <p>
          <label for="fullname">Full name</label><br>
          <input id="fullname" name="full name" required="required" placeholder="First- and Last  name" type="text" v-model="full_name">
        </p>
        <p>
          <label for="email">E-mail</label><br>
          <input id="email" name="email" required="required" placeholder="E-mail adress" type="text" v-model="email">
        </p>

        <button type="submit" v-on:click="send_order_button">Place my order!</button>
      </div>
    </section>
    
  </body>
</html>




<!--

    <!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/deli-very.js" defer></script>
    <title>BurgerTownTM</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <div class="view-box">
      <div id="dots" v-on:click="addOrder">
        <div 
          v-for="(order, key) in orders"
          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
          {{key}}
        </div>
      </div>
    </div>


    
    <section class="customerInformation">
      <p>
        <label for="fullname">Full name</label><br>
        <input id="fullname" name="full name" required="required" placeholder="First- and Last  name" type="text" v-model="full_name">
      </p>
      <p>
        <label for="email">E-mail</label><br>
        <input id="email" name="email" required="required" placeholder="E-mail adress" type="text" v-model="email">
      </p>     
      
      <div>
        <p>
          <label for="PaymentOption">Payment options</label><br>
          <select id="PaymentOption" name="PaymentOption" v-model="PaymentOption">
            <option>Credit card</option>
            <option>Bitcoin</option>
            <option>One dollar bills</option>
            <option>PayPal</option>
            <option>Donate to my patreon</option>
          </select>
        </p>
      </div>

      <div>
        <form action="">
          <input type="radio" name="gender" value="male" v-model="radio"> Male<br>
          <input type="radio" name="gender" value="female" v-model="radio"> Female<br>
          <input type="radio" name="gender" value="nonBinary" v-model="radio"> Non-Binary<br>
          <input type="radio" name="gender" value="Undisclosed" v-model="radio">Undisclosed<br>
        </form>
      </div>       
    </section>


    
    <div class="button" id="button">
      <button  id="submitButton" type="submit" v-on:click="click">Place my order!</button>
    </div>
    
  </body>
</html>
