@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

h1 {
    margin: 2.1em 1.5em;  
}

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 1.05em;
    color: black;    
}

.headLineAndPic{
    height: 15em;
    width: 100%;
    overflow:hidden;
}

.headLineAndPic h1{
    font-size: 3em;
    position: absolute;
    padding: 0.1em 0.8em;
}

.headLineAndPic img{
    opacity: 0.5;
}

.kcal {
    font-weight: bold;
    text-transform: uppercase;
}

.vegetarian {
    font-weight: bold;
}

.selectBurgers {
    background-color: black;
    color:white;
    border: dashed white;
    padding-left: 2em;
}

.customerInformation{
    border: dashed black;
    padding-bottom: 2.12em;
    padding-left: 2em;
}

.button {
    margin: 2.25em 1em;
}

button:hover {
    background-color: green;
    color: red;
    cursor: pointer;
}

table {
    width: 60vw;
    text-align: justify;
}

